<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- 连接数据库配置 -->
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/****?useSSL=false&amp;serverTimezone=GMT%2B8</property>
  <property name="hibernate.connection.username">****</property>
  <property name="hibernate.connection.password">******</property>
  <!-- c3p0连接池配置 -->
  <property name="hibernate.c3p0.acquire_increment">2</property>
  <property name="hibernate.c3p0.max_size">50</property>
  <property name="hibernate.c3p0.timeout">2000</property>
  <property name="hibernate.c3p0.min_size">1</property>
  <property name="hibernate.c3p0.max_statements">5</property>
  <!-- hibernate 基本配置 -->
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
  
  <mapping resource="com/sucre/hibernateDemo/entity/User.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
